@font-face {
    font-family: ESPN;
    src: url('esp.ttf') format("truetype")
}

p{
    padding-top: 20px;
}


.content-wrapper {
    padding: 20px;
    margin: auto;
    width: 80%;
}

.row {
    overflow-x: scroll;
}

.main-grid {
    display: grid;
    grid-template: 1fr 1fr 1fr/auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.sidebar{
    border-right: solid black 3px;
    padding-right: 10px;
}

.card{
    margin: auto;
}

.title {
    font-size: 20px;
}

.box {
    text-align: center;
}

.logo {
    height:auto;
    width:75px;
}

.ESPN {
    background: #FF4227;
}

.more-padding {
    padding: 10px;
}

#twitterwidget[style]{
    width:100%; !important;
}



.no-border {
    border:none;
}

.game-info {
    display: flex;
    justify-content: flex-start;
}

.game-info-ul{
    list-style-type: none;
    padding: 0;
}

.score-grid {
    display: grid;
    grid-template: auto auto/1fr;
    grid-column-gap: 15px;
}



td {
    font-size: 12px; !important;
}

tr{
    font-size: 12px; !important;
}

.center-Scores {
    text-align: center;
}

@media screen and (max-width: 759px) {
    .score-grid {
        margin: auto;

    }

    td{
        font-size: 14px;
    }

    tr{
        font-size: 14px;
    }

    .content-wrapper{
        width: 100%;
    }

}

table{
    min-width: 357.317px;
}

.ui-datepicker table{
    min-width: 0;
}

.score-grid{

    align-content: center;

}

.team-name{
    font-size: 12px;
}

.gameStatus{
    font-size: 10px;
    color: red; !important;
}

section{
    padding-bottom: 35px;
}

.score-child{
    max-width: 380px;
    min-width: 380px;
    height: 189px;

}

.margin-inherit{
  margin: inherit;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
  position: relative;
}

.dates{
    justify-content: center;
}

.date p{
    padding-top: 0;
}
.date {
    font-size: 14px;
}

.twitter{
    width: 50%;
    margin: auto;
}


.hero.is-success {
    background: #fff;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box-log-in {
    margin-top: 5rem;
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}
.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.button.is-danger {
    background-color: #FF4227;
    border-color: transparent;
    color: #fff;
}

.button.is-danger:hover{
    opacity: .7;
    background-color: #FF4227;
}

.button.is-danger.is-outlined {
    background-color: transparent;
    border-color: #FF4227; !important;
    color: #FF4227; !important;
}

.button.is-danger.is-outlined:hover {
    background-color: #FF4227; !important;
    color: #fff;
}
input {
    font-weight: 300;
}
p {
    font-weight: 700;
}
p.subtitle {
    padding-top: 1rem;
}

.blog-post{
    text-align: left;
}

footer a i{
   text-decoration: none;
    color: black;
}

.insta{
    width: 75%;
    margin-left: auto;
}

.box-Score-Container{
    display: flex;
    justify-content: flex-start;
}
.team-Abbr{
    font-size: 32px;
    padding-left: 10px;
}

.team-record{
    padding-top: 0;
}

.right-boxscore-team{
    margin-left: auto;
}
.game-Status{
    margin-left: auto;
    margin-right: auto;
}

.team-header{
    text-align: left;
}

@media screen and (max-width: 667px) {
    .team-Abbr {
        font-size: 25px;
    }
}


@media screen and (min-width: 760px) {
    .main-grid {
        display: grid;
        grid-template: 1fr/auto auto auto;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }




    .score-grid {
        display: grid;
        grid-template: auto/1fr 1fr;
        grid-column-gap: 15px;
        width: 100%;
    }
.today-red{
  color: red;
}

#dateScores{
  font-size: 20px;
  padding-bottom: 25px;
  text-align: center;
}


    /*.score-child:nth-child(odd) {
        margin-left: auto;
    }


    .score-child:nth-child(even) {
        margin-right: auto;
    }*/

    .score-left{
      margin-left: auto;
    }

    .score-right{
      margin-right: auto;
    }

    td {
        font-size: 15px; !important;
    }

    tr{
        font-size: 15px; !important;
    }



}

@media screen and (max-width: 759px) {
    .score-child{
        margin: auto;
    }
}
